.hero {
  background-color: var(--color-primary);
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image:  radial-gradient(var(--color-white) 2px, transparent 2px), radial-gradient(var(--color-white) 2px, var(--color-primary) 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
  background-attachment: fixed;
}

.hero-text {
  font-size: var(--font-size-l);
  animation: slide-up-fade-in 1s ease;
}

.hero-text__title {
  font-weight: bold;
}

.hero-text__subtitle {
  color: var(--color-white);
  font-weight: normal;
}
