.hero {
  background-color: var(--color-primary);
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  font-size: var(--font-size-xxl);
}

.hero-text__title {
  font-weight: bold;
}

.hero-text__subtitle {
  color: var(--color-white);
  font-weight: normal;
}
