.heading {
  margin: 100px auto 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-m);
  font-weight: bold;
  padding: 10px 20px;
  border: var(--border-width) solid var(--color-black);
  max-width: 300px;
  box-shadow: var(--shadow-tilt-m) var(--shadow-tilt-m) 0 0 var(--color-black);
}

@media screen and (min-width: 769px) {
  .heading {
    padding: 20px 40px;
    max-width: 450px;
  }
}

.heading__lead {
  width: 30px;
  height: 30px;
  background-image: url('../../../assets/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}