:root {
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 24px;
  --font-size-l: 26px;
  --font-size-xl: 60px;
  --font-size-xxl: 80px;

  --color-primary: #7FBC8C;
  --color-secondary: #FFC700;
  --color-accent: #746BEB;
  --color-accent-variant: #F3CEB4;
  --color-black: #000;
  --color-white: #FFF;

  --border-width-s: 1px;
  --border-width-m: 2px;

  --shadow-tilt-s: 2px;
  --shadow-tilt-m: 4px;
  --shadow-tilt-l: 8px;
  --shadow-tilt-xl: 16px;
  --shadow-tilt-xxl: 20px;
}
